/*
** LCA Takedown css file for use on legalTakedown web app pages or other related pages
** Copyright James Alexander 2013
** License: MIT (see http://opensource.org/licenses/MIT and LICENSE.txt which should be in the root folder with this file)
*/

i {
	font-style:italic;
}

#p-logo {
	background-image: url(/images/Roryshieldlogo.png);
	background-size:100% 100%;
}

.tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size:12px Arial;
	z-index: 100;
	max-width: 25%;
}

/* Apply some padding to certain table rows where they get more crowded then necessary */
tr.spaceOut > td {
	padding-bottom: 1em;
}

/* From http://stackoverflow.com/questions/10943579/adjust-the-textarea-height-and-width-to-fit-in-td-of-a-table great option to fix the overlap issues */
textarea {
    border: none;
    width: 100%;
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
    -moz-box-sizing: border-box; /* FF1+ */
    box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}

td {
	vertical-align: middle;
}
