/*
** LCA Takedown css file for use on legalTakedown web app pages or other related pages
** Copyright James Alexander 2013
** License: MIT (see http://opensource.org/licenses/MIT and LICENSE.txt which should be in the root folder with this file)
*/

i {
	font-style:italic;
}

#p-logo {
	background-image: url(../images/roryshield.jpg);
	background-size:100% 100%;
}

.tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size:12px Arial;
	z-index: 100;
}

/* Apply some padding to certain table rows where they get more crowded then necessary */
tr.spaceOut > td {
	padding-bottom: 1em;
}