# This file is a "template" of which env vars needs to be defined in your configuration or in an .env file
# Set variables here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_DEBUG=1
APP_SECRET=
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
# Key paths should be relative to the project directory
JWT_PRIVATE_KEY_PATH=var/jwt/private.pem
JWT_PUBLIC_KEY_PATH=var/jwt/public.pem
JWT_PASSPHRASE=b5f517513429c25fe52a773b51e849bc
###< lexik/jwt-authentication-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# For a sqlite database, use: "sqlite:///%kernel.project_dir%/var/data.db"
# Set "serverVersion" to your server version to avoid edge-case exceptions and extra database calls
DATABASE_URL="mysql://root@127.0.0.1:3306/symfony?charset=utf8mb4&serverVersion=5.7"
###< doctrine/doctrine-bundle ###

OAUTH_CONSUMER_KEY=
OAUTH_CONSUMER_SECRET=
LUMEN_AUTH_TOKEN=
NCME_USER=
NCME_PASS=
CONTACT_FIRST_NAME=John
CONTACT_LAST_NAME=Doe
CONTACT_EMAIL=legal@wikimedia.org
CONTACT_PHONE=+1-415-839-6885
