[submodule "2015 Strategy"]
	path = 2015 Strategy
	url = https://github.com/jamesryanalexander/2015-Strategy.git
[submodule "standalone"]
	path = standalone
	url = https://github.com/jamesryanalexander/tools-standalone.git
[submodule "takedown"]
	path = takedown
	url = https://github.com/jamesryanalexander/tools-takedowns.git
[submodule "childprotection"]
	path = childprotection
	url = https://github.com/jamesryanalexander/tools-childprotection.git
