RewriteEngine On

# Prevent strping of the Authorization header.
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

# Send /login or /api to PHP
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(api|login) index.php [L,QSA]

# Send all other routes to JavaScript.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.html [L,QSA]
